<div class="section-aboutpage">
    <div class="group-aboutpage">
        <div class="">
            <div class="title-aboutpage">ABOUT</div>
            <div class="email-aboutpage">tienkim9920@gmail.com</div>
        </div>
        <div class="txt-about-personal">
            I'm Frontend Developer with 4 years of experience
            specializing in software design and development.
            I used to work at TMA and AEGONA in a professional environment.
            I can optimize the software for processing
            speed to make the user experience better 👋.
        </div>
        <div item-aboutpage class="item-aboutpage txt-call-phone">
            <div><img class="image-call-phone" src="./images/ic-call.png" /></div>
            <div>+847 6355 7366</div>
        </div>
    </div>
</div>