<div class="section-header">
    <div class="group-header">
        <div class="items-header active" id="homeId">Home</div>
        <div class="items-header" id="aboutId">About</div>
        <div class="items-header" id="resumeId">Resume</div>

        <div class="items-header-icon active" onclick="gotoComponent('home', 0)"><img class="icon-header" src="./images/ic-home.png" /></div>
        <div class="items-header-icon" onclick="gotoComponent('about', 1)"><img class="icon-header" src="./images/ic-user.png" /></div>
        <div class="items-header-icon" onclick="gotoComponent('resume', 2)"><img class="icon-header" src="./images/ic-portfolio.png" /></div>
    </div>
</div>