<div class="section-homepage">
    <div class="group-homepage">
        <h1 class="title-homepage"><div class="sub">NGUYEN</div> KIM TIEN</h1>
        <div class="job-homepage">Frontend Developer</div>
        <div class="box-resume-homepage">
            <a href="./assets/CV_Update.pdf" download class="btn-homepage">Resume</a>
            <a href="mailto:tienkim9920@gmail.com" class="btn-homepage">Contact</a>
        </div>
    </div>
</div>
<div class="section-footer">
    <div class="group-social">
        <a href="https://github.com/tienkim9920" target="_blank" class="box-image-social">
            <img class="image-social" src="./images/ic-github.png" alt="" />
        </a>
        <a href="https://facebook.com/nkt.9920" target="_blank" class="box-image-social">
            <img class="image-social" src="./images/ic-facebook.png" alt="" />
        </a>
        <a href="https://www.linkedin.com/in/ti%E1%BB%81n-kim-a52941201/" target="_blank" class="box-image-social">
            <img class="image-social" src="./images/ic-linkedin.png" alt="" />
        </a>
    </div>
</div>