<div class="section-resumepage">
    <div class="group-resumepage">
        <div class="item-resumepage">
            <div class="box-resumepage">
                <div class="title-resumepage">Software skill</div>
                <div class="parent-software">
                    <div class="box-software">
                        <div class="box-technology">
                            <img class="icon-software" src="./images/ic-react.png" />
                            <div>React</div>
                        </div>
                        <div class="box-line-technology">
                            <div class="line"></div>
                            <div class="line-react"></div>
                            <div class="box-pointer react">
                                <div class="sub-pointer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-software">
                        <div class="box-technology">
                            <img class="icon-software" src="./images/ic-angular.png" />
                            <div>Angular</div>
                        </div>
                        <div class="box-line-technology">
                            <div class="line"></div>
                            <div class="line-angular"></div>
                            <div class="box-pointer angular">
                                <div class="sub-pointer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-software">
                        <div class="box-technology">
                            <img class="icon-software" src="./images/ic-vue.png" />
                            <div>Vue</div>
                        </div>
                        <div class="box-line-technology">
                            <div class="line"></div>
                            <div class="line-vue"></div>
                            <div class="box-pointer vue">
                                <div class="sub-pointer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-resumepage">
                <div class="title-resumepage">Languages</div>
                <div class="parent-software">
                    <div class="box-software">
                        <div class="box-technology">
                            <div>English</div>
                        </div>
                        <div class="box-line-technology">
                            Toeic 530
                        </div>
                    </div>
                    <div class="box-software">
                        <div class="box-technology">
                            <div>Communicate</div>
                        </div>
                        <div class="box-line-technology">
                            Intermediate
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-resumepage">
                <div class="title-resumepage">Personal Skill</div>
                <div class="parent-software">
                    <div class="box-software">
                        <div class="box-technology">
                            <div>Creativity</div>
                        </div>
                        <div class="box-line-technology">
                            Team Work
                        </div>
                    </div>
                    <div class="box-software">
                        <div class="box-technology">
                            <div>Organisation</div>
                        </div>
                        <div class="box-line-technology">
                            Presentation
                        </div>
                    </div>
                    <div class="box-software">
                        <div class="box-technology">
                            <div>Listen</div>
                        </div>
                        <div class="box-line-technology">
                            Problem Solving
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-resumepage">
        <div class="item-resumepage">
            <div class="box-resumepage">
                <div class="title-resumepage">Experience</div>
                <div class="parent-software">
                    <div class="box-software">
                        <div>
                            <div class="border-year">2021</div>
                        </div>
                        <div>
                            <div>
                                TMA Solutions
                            </div>
                            <div class="txt-sub-job">Fresher Frontend Developer</div>
                        </div>
                    </div>
                    <div class="box-software">
                        <div>
                            <div class="border-year">2022</div>
                        </div>
                        <div>
                            <div>
                                AEGONA LTD
                            </div>
                            <div class="txt-sub-job">Junior Frontend Developer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-resumepage">
                <div class="title-resumepage">Education</div>
                <div class="parent-software">
                    <div class="box-software">
                        <div>
                            <div>
                                Ho Chi Minh City University of Foreign Languages and Information Technology (2018 - 2022)
                            </div>
                            <div class="txt-sub-job">Major: Information Technology</div>
                            <div class="txt-sub-job">Bachelor Degree: Very good</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-resumepage">
                <div class="title-resumepage">Address</div>
                <div class="parent-software">
                    <div class="box-software">
                        <div>
                            Street: 
                        </div>
                        <div class="poppins">
                            299 Phan Huy Ich
                        </div>
                    </div>
                    <div class="box-software">
                        <div>
                            District: 
                        </div>
                        <div class="poppins">
                            Go Vap
                        </div>
                    </div>
                    <div class="box-software">
                        <div>
                            City: 
                        </div>
                        <div class="poppins">
                            TP. HCM
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-resumepage">
        <div class="item-resumepage">
            <div class="box-resumepage">
                <div class="title-resumepage">What can i do</div>
                <div class="parent-software">
                    <div class="box-software">
                        <div class="box-technology">
                            <div>RESTful API</div>
                        </div>
                        <div class="box-line-technology">
                            Analysis Software
                        </div>
                    </div>
                    <div class="box-software">
                        <div class="box-technology">
                            <div>Organization</div>
                        </div>
                        <div class="box-line-technology">
                            Design Pattern
                        </div>
                    </div>
                    <div class="box-software">
                        <div class="box-technology">
                            <div>Lead Team</div>
                        </div>
                        <div class="box-line-technology">
                            Design Software
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-resumepage">
                <div class="title-resumepage">General Skills</div>
                <div class="parent-software">
                    <div class="box-software">
                        <div class="general-skill">
                            <div>
                                HTML - CSS - Javascript - Bootstrap
                            </div>
                            <div>
                                Material UI - Ant Design - Flutter - NodeJS 
                            </div>
                            <div>
                                Github - Gitlab - Azure Devops
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-resumepage">
                <div class="title-resumepage">Hobbies & Interests</div>
                <div class="parent-software">
                    <div class="parent-hobbies">
                        <div class="parent-icon-hobbies">
                            <div class="box-icon-hobbies">
                                <img class="icon-hobbies" src="./images/ic-music.png" />
                            </div> 
                            <div>Music</div>
                        </div>
                        <div class="parent-icon-hobbies">
                            <div class="box-icon-hobbies">
                                <img class="icon-hobbies" src="./images/ic-film.png" />
                            </div> 
                            <div>Movie</div>
                        </div>
                    </div>
                    <div class="parent-hobbies">
                        <div class="parent-icon-hobbies">
                            <div class="box-icon-hobbies">
                                <img class="icon-hobbies" src="./images/ic-plane.png" />
                            </div> 
                            <div>Travel</div>
                        </div>
                        <div class="parent-icon-hobbies">
                            <div class="box-icon-hobbies">
                                <img class="icon-hobbies" src="./images/ic-camera.png" />
                            </div> 
                            <div>Photography</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>