.section-aboutpage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.section-aboutpage .group-aboutpage {
    padding-left: 6rem;
}

.group-aboutpage .title-aboutpage {
    font-size: 50px;
    font-weight: 600;
    border-bottom: 2px solid #036A93;
    margin-bottom: .5rem;
    width: max-content;
}

.group-aboutpage .email-aboutpage {
    font-family: 'Poppins', sans-serif;
}

.group-aboutpage .txt-about-personal {
    margin-top: 3rem;
    max-width: 500px;
    letter-spacing: .5px;
}

.group-aboutpage .item-aboutpage {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-in-out;
}

.group-aboutpage .item-aboutpage.active {
    opacity: 1;
    transform: translateX(0);
}

.group-aboutpage .txt-call-phone {
    margin-top: 3rem;
    letter-spacing: .5px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.group-aboutpage .image-call-phone {
    width: 20px;
    height: 15px;
}

@media only screen and (max-width: 500px) {
    .section-aboutpage {
        background-position: center;
    }
    
    .section-aboutpage .group-aboutpage {
        padding: 2rem;
    }

    .group-aboutpage .title-aboutpage {
        font-size: 67px;
    }
}